<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipe Website</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <header id="main-header">
      <h1>My Recipes</h1>
    </header>

    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="browse.html">Browse Recipes</a></li>
        <li><a href="category.html">By Category</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>

    <main class="container">
        <div class="home-card">
          <div class="left"><img src="/static/images/homeImage.png" alt="Landing Page Image" /></div>
          <div class="right"><br><br>
            <h2>Get started today!</h2>
            <h4>Fresh new daily recipes</h4>
            <button> Subscribe for Recipes </button>
          </div>
          </div>
          
        </div>

      <h2>Featured Recipes</h2>
      <div class="recipe-container">
        <div class="recipe-card">
          <img src="/static/images/pancakes.jpg" alt="Picture of pancakes" />
          <h3>Pancakes</h3>
          <a href="recipe_detail.html">View Recipe</a>
        </div>
        <div class="recipe-card">
          <img
            src="/static/images/lemonade.jpg"
            alt="Picture of lemonade"
          />
          <h3>Lemonade</h3>
          <a href="recipe_detail.html">View Recipe</a>
        </div>
        <div class="recipe-card">
          <img src="/static/images/pasta.jpg" alt="Picture of pasta" />
          <h3>Pasta</h3>
          <a href="recipe_detail.html">View Recipe</a>
        </div>
      </div>
    </main>

    <footer id="page-footer">
      <p>&copy; Brianna Yeung</p>
    </footer>
  </body>
</html>
