<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipe Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
    <header id="main-header">
      <h1>My Recipes</h1>
    </header>

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('browse') }}">Browse Recipes</a></li>
        <li><a href="{{ url_for('category') }}">By Category</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

    <footer id="page-footer">
      <p>&copy; Brianna Yeung</p>
    </footer>
  </body>
</html>