{% extends "base.html" %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<div class="pancake-container">
  <div class="recipe-card">
    <img src="{{ url_for('static', filename=recipe.image) }}" alt="Picture of {{ recipe.title }}" />
  </div>
  <div class="recipe-information"><br>
      <h2> Ingredients</h2>
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="recipe-information"><br>
      <h2> Instructions </h2>
      <ol>
        {% for step in recipe.instructions %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}